.fixed-image-height {
  height: 200px;
  object-fit: scale-down;
}

.drag-handle {
  cursor: move;
}

.draggable-card {
  transition: box-shadow 0.3s;
}

.draggable-card:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.blurred-content {
  filter: blur(5px);
  user-select: none;
}

.sensitive-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 1;
  cursor: pointer;
}

.card.sensitive {
  position: relative;
}
