<div>
    <form (ngSubmit)="sprawdzCzyIstnieje()" class="mb-4">
      <label for="imie">Imie: </label>
      <input type="text" id="imie" [(ngModel)]="imie" name="imie">
  
      <label for="nazwisko">Nazwisko: </label>
      <input type="text" id="nazwisko" [(ngModel)]="nazwisko" name="nazwisko">
  
      <label for="wiek">Wiek: </label>
      <input type="number" min="1" max="110" id="wiek" [(ngModel)]="wiek" name="wiek">
  
      <button type="submit">Sprawdź</button>
    </form>
  </div>
  